# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.txt text
*.py text
*.pl text
*.lua text
*.nsi text
*.ini text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.msi text eol=crlf
*.vbs text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.rtf text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.gif binary
*.bmp binary
*.dll binary
*.xls binary
*.ico binary
